
<ul class="pagination justify-content-end">
    {% if articles.has_previous %}
    <a 
        class="button is-primary" 
        href="{% if not articles.has_previous %}#{% else %}?page={{ articles.previous_page_number }}{% endif %}" 
        tabindex="-1">
            Articles suivants&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% if articles.has_next %}
    <a 
        class="button is-primary" 
        href="{% if not articles.has_next %}#{% else %}?page={{ articles.next_page_number }}{% endif %}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Articles précédents
    </a>
    {% endif %}
</ul>
<div class="margin"></div>