{% extends 'template.html' %}
{% load markdown_deux_tags %}
{% load static %}

{% block title %} - {{ article.title }}{% endblock %}

{% block seo %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% if article.cover %}
<meta property="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/uploads/{{ article.cover }}" />
{% endif %}
<meta property="og:description" content="{{ article.content | markdown | striptags | truncatewords:50 }}" />
{% endblock %}

{% block content %}
{% if messages %}
<div class="column is-8 is-offset-2">
  {% for message in messages %}
    {% if message|stringformat:"s" == "COMMENT_ADDED" %}
      <div class="notification is-success">
          <strong>Votre commentaire a été ajouté !</strong> Il sera validé par l'administrateur·rice.
        </div>
    {% elif message|stringformat:"s" == "WRONG_ANSWER" %}
      <div class="notification is-warning" role="alert">
        <strong>Mince!</strong> Vous n'avez pas donner la bonne réponse à la question.
      </div>
    {% elif message|stringformat:"s" == "BAD_FORM" %}
      <div class="notification is-danger" role="alert">
        <strong>Mince!</strong> Vous n'avez pas totalement rempli le formulaire.
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

<section class="articles">
  <div class="column is-8 is-offset-2">
    {% if article %}
    <div class="card article-view">
      {% if article.cover %}
      <div class="card-header">
        <figure>
          <img src="{{ article.cover.url }}">
        </figure>
      </div>
      {% endif %}
      <div class="card-content">
        <div class="media">
          <div class="media-content has-text-centered">
            <p class="title article-title">{{ article.title }}</p>
            <p class="subtitle has-text-centered">
                Écrit par {{ article.author.username }} le {{ article.publication_date | date }} dans <a href="{% url 'blog:category' article.category.slug %}">{{ article.category.name }}</a>
              </p>
          </div>
        </div>
        <div class="content article-body {% if article.hide_image %}hidden{% endif %}">
          {{ article.content|markdown }}
        </div>
      </div>
      {% endif %}
    </div>
    <hr>
    <section class="content">
      <h3>Partager cet article sur les médias sociaux</h3>
      <div class="container">
        <div class="">
          <div 
            class="mastodon-share-button"
            data-target="https://framapiaf.org"
            data-name="Framapiaf"
            data-buttonstyle="button is-primary is-rounded"
            data-text="&nbsp;Share on Mastodon"
          >
            &nbsp;<button class="button is-info is-rounded" href="javascript:;" onclick="window.open('https://share.diasporafoundation.org/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'das','location=no,links=no,scrollbars=no,toolbar=no,width=620,height=550'); return false;" rel="nofollow" target="_blank">
              <i class="fa fa-diaspora" aria-hidden="true"></i>&nbsp;Share on Diaspora*
            </button>
          </div>
        </div>

        </div>
      </div>

    </section>
    <hr>
    <section class="column is-8 is-offset-2 content">
      <h3>Écrire un commentaire</h3>
      <form action="{% url 'blog:add_comment' article.slug %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">
            Nom d'utilisateur·rice
          </label>
          <div class="control">
            <input
              class="input" 
              type="text" 
              placeholter="Votre nom d'utilisateur·rice"
              name="comment_username"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">
            Répondez à la question: {{ question.question }}
          </label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="comment_answer"
              placeholder="42"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">
            Entrez votre commentaire
          </label>
          <textarea name="comment_comment" class="textarea"></textarea>
        </div>

        <input type="hidden" name="comment_question" value="{{ question.id }}">

        <button type="submit" class="button is-primary is-pulled-right">Envoyer mon commentaire</button>
      </form>
      <hr>
      {% if comments %}
      <h3>Commentaire(s) lié(s) à l'article</h3>
      {% for comment in comments %}
      <article class="media">
          <div class="media-content">
            <div class="content comment">
              <p>
                <strong>{{ comment.username }}</strong> <small>{{ comment.publication_date | date }}</small>
                <br>
                {{ comment.content | markdown }}
              </p>
            </div>
          </div>
        </article>
      {% endfor %}
      {% endif %}
    </section>
</section>

{% if article.hide_image %}
<div class="is-invisible" id="article-disclaimer">
  {{ article.disclaimer }}
</div>
{% endif %}

{% endblock %}