{% extends 'template.html' %}
{% load markdown_deux_tags %}

{% block title %} - {{ category.name }}{% endblock %}

{% block header %}
<h3 class="maintitle">{{ category.name }}</h3>
<i class="fa fa-list-alt" aria-hidden="true"></i> <a href="#comments">{{ articles.count }} article{% if articles.count > 1 %}s{% endif %}</a>
{% endblock %}

{% block content %}
<div class="container">

    {% if articles %}
    {% include "includes/pagination.html" %}
    <section class="articles">
        <div class="columns">
            {% for article in articles %}
            <div class="column is-4">
                <section class="card article">
                    {% if article.cover %}
                    <div class="card-image article-image">
                        <figure class="image">
                            <img src="{{ article.cover.url }}" alt="{{ article.name }} cover">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <p class="title has-text-centered">
                            <a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a>
                        </p>
                        <p class="subtitle has-text-centered">
                            Écrit par {{ article.author.username }} le {{ article.publication_date | date }} dans <a href="{% url 'blog:category' article.category.slug %}">{{ article.category.name }}</a>
                        </p>
                        {{ article.content | markdown | truncatewords:50 }}
                    </div>
                </section>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="columns">
            {% endif %}
            {% endfor %}
        </div>
    </section>
    {% include "includes/pagination.html" %}
    {% else %}
    <h4 class="title">Oops! Il n'y a pas encore d'article ici.</h4>
    {% endif %}
</div>
{% endblock %}