{% extends 'template.html' %}
{% load markdown_deux_tags %}

{% block content %}
  {% include "includes/pagination.html" %}
  {% if articles %}
    <section class="articles">
      <div class="columns">
      {% for article in articles %}
        <div class="column is-4">
        <section class="card article">
          {% if article.cover %}
          <div class="card-image article-image">
            <figure class="image">
              <img src="{{ article.cover.url }}" alt="{{ article.name }} cover">
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title has-text-centered">
              <a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a>
            </p>
            <p class="subtitle has-text-centered">
              Écrit par {{ article.author.username }} le {{ article.publication_date | date }} dans <a href="{% url 'blog:category' article.category.slug %}">{{ article.category.name }}</a>
            </p>
            {{ article.content | markdown | truncatewords:50 }}
          </div>
        </section>
      </div>
      {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="columns">
      {% endif %}
      {% endfor %}
    </div>
    </section>
  {% endif %}
  {% include "includes/pagination.html" %}
{% endblock %}
