{% extends 'template.html' %}
{% load markdown_deux_tags %}

{% block title %} - {{ page.name }}{% endblock %}

{% block hero-style %}
{% if page.cover %}
style="background-image: url('/uploads/{{ page.cover }}');"
{% else %}
style="background-image: url('/uploads/{{ blog.cover }}');"
{% endif %}
{% endblock %}

{% block header %}
<h3 class="maintitle">{{ page.name }}</h3>
{% endblock %}
}
{% block content %}
<section class="articles">
    <div class="column is-8 is-offset-2">
        {% if page %}
        <div class="card article">
            <div class="card-content">
                <div class="media">
                    <div class="media-content has-text-centered">
                        <p class="title article-title">{{ page.name }}</p>
                    </div>
                </div>
                <div class="content article-body">
                    {{ page.content|markdown }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}