{% load static %}
{% load markdown_deux_tags %}
<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ blog.name }}{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bulma.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/alertify/alertify.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/alertify/themes/default.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/fork-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
  <link rel="icon" href="{% static 'blog/img/favicon.png' %}" />

  {% for s in social %}
  {% if s.network == 'RSS_FLUX' %}
  <link href="{{ s.link }}" rel="alternate" title="Rss feed" type="application/rss+xml">
  {% else %}
  {% endif %}

  {% endfor %}

  {% block seo %}
  <meta property="og:title" content="{{ blog.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{{ request.build_absolute_uri }}uploads/{{ blog.sidebar_picture }}" />
  {% endblock %}
</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'blog:index' %}">
              {% if blog.cover %}
              <img height="28px" src="{{ blog.cover.url }}" alt="{{ blog.name }}">
              {% endif %}
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
          </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
              {% if categories %}
              {% for category in categories %}
              <a class="navbar-item navbar-category" href="{% url 'blog:category' category.slug %}">{{ category.name }}</a>
              {% endfor %}
              {% endif %}
            </div>
          
            <div class="navbar-end">
              {% if social %}
              {% for s in social %}
              {% if s.sidebar %}
                <a class="navbar-item" href="{{ s.link }}" target="_blank">
                    {% if s.network == 'RSS_FLUX' %}
                    <i class="fa fa-rss" aria-hidden="true"></i>
                    {% elif s.network == 'GITHUB' %}
                    <i class="fa fa-github" aria-hidden="true"></i>
                    {% elif s.network == 'LINKED_IN' %}
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    {% elif s.network == 'INSTAGRAM' %}
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    {% elif s.network == 'FACEBOOK' %}
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    {% elif s.network == 'BITBUCKET' %}
                    <i class="fa fa-bitbucket" aria-hidden="true"></i>
                    {% elif s.network == 'GOOGLE_PLUS' %}
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    {% elif s.network == 'YOUTUBE' %}
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    {% elif s.network == 'MASTODON' %}
                    <i class="fa fa-mastodon" aria-hidden="true"></i>
                    {% elif s.network == 'PEERTUBE' %}
                    <i class="fa fa-peertube" aria-hidden="true"></i>
                    {% elif s.network == 'DIASPORA' %}
                    <i class="fa fa-diaspora" aria-hidden="true"></i>
                    {% endif %}
                  </a>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% if pages %}
                {% for page in pages %}
                <a class="navbar-item navbar-page" href="{% url 'blog:page' page.slug %}">
                  {{ page.name }}
                </a>
                {% endfor %}
                {% endif %}
            </div>
          </div>

      </div>
    </nav>
  <div class="container">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <img class="is-pulled-left blog__avatar" src="{{ blog.sidebar_picture.url }}">
          <h1 class="title">
            {{ blog.name }}
          </h1>
          <h2 class="subtitle">
            {{ blog.description }}
          </h2>
        </div>
      </div>
  </section>

  </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          {% if social %}
          <span class="has-text-weight-bold is-uppercase">Média sociaux</span>
          <ul class="list-unstyled">
            {% for s in social %}
            <li><a href="{{ s.link }}">{{ s.shortcut }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="column">
          {% if links %}
          <span class="has-text-weight-bold is-uppercase">Liens</span>
          <ul class="list-unstyled">
            {% for link in links %}
            <li><a href="{{ link.link }}">{{ link.shortcut }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="column has-text-right">
          <p>Created by Alyve with <span class="primary">❤</span>.</br>
            © Alyve 2017 - 2018</p>
        </div>
      </div>
    </div>
  </footer>

  {% include "includes/mastodon.html" %}
  <script src="{% static 'blog/js/alertify.min.js' %}"></script>
  <script src="{% static 'blog/js/blog.js' %}"></script>
  <script src="{% static 'blog/js/mastodon.js' %}"></script>
</body>

</html>