.blog__avatar {
    border-radius: 100%;
    max-height: 80px;
    margin-right: 3em;
}

.subtitle {
    font-size: 0.8em;
}

.footer {
    width: 100%;
    color: #F5F5F5;
    background-color: #000000;
    margin-top: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer a {
    color: #F5F5F5;
    font-size: .9rem;
}

.primary {
    color: #FF3366;
}

.margin {
    margin-bottom: 1.5em;
}

.article-view img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

a.navbar-category:hover{
    color: #8B31A6 !important;
}

a.navbar-page:hover {
    color: #5FB9C5 !important;
}

.comment {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0x 0px 10px black;
    border-radius: 5px;
}

.hidden img {
    display: none;
}

.card-content a {
    color: #c981e6;
}

.card-content a:hover {
    color: #605ca8
}

.card-content .title a,
.card-content .subtitle a {
    color: #363636;
}

.card-content .title a:hover,
.card-content .subtitle a:hover {
    color: #605ca8;
}